{% extends "base.html" %}

{% block title %}
Home | Smart Lender
{% endblock %}

{% block content %}

<!-- HERO SECTION -->

<section class="hero">
    <div class="hero-content">
        <h1>
            AI Powered Loan Approval Prediction
        </h1>
        <p>
            Smart Lender uses Machine Learning to
            analyze applicant details and predict
            loan approval quickly, accurately,
            and securely.
        </p>
        <a href="{{ url_for('predict_page') }}" class="btn">
            Start Prediction
        </a>
    </div>
</section>

<!-- FEATURES -->

<section class="features">
    <div class="card">
        <i class="fa-solid fa-brain feature-icon"></i>
        <h3>AI Prediction</h3>
        <p>
            Advanced Machine Learning algorithms
            evaluate applicant information.
        </p>
    </div>

    <div class="card">
        <i class="fa-solid fa-bolt feature-icon"></i>
        <h3>Fast Processing</h3>
        <p>
            Get loan eligibility results
            within seconds.
        </p>
    </div>

    <div class="card">
        <i class="fa-solid fa-shield-halved feature-icon"></i>
        <h3>Secure System</h3>
        <p>
            Applicant data is processed
            securely and efficiently.
        </p>
    </div>
</section>

<!-- HOW IT WORKS -->

<section class="how-it-works">
    <h2>
        How Smart Lender Works
    </h2>
    <div class="steps">
        <div class="step">
            <div class="circle">
                1
            </div>
            <h4>
                Enter Details
            </h4>
            <p>
                Fill the loan application form.
            </p>
        </div>

        <div class="step">
            <div class="circle">
                2
            </div>
            <h4>
                AI Analysis
            </h4>
            <p>
                Our ML model evaluates the application.
            </p>
        </div>

        <div class="step">
            <div class="circle">
                3
            </div>
            <h4>
                Instant Result
            </h4>
            <p>
                Receive the loan approval prediction.
            </p>
        </div>
    </div>

</section>

{% endblock %}