# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*$py.class

# Compiled Python files
*.so

# ==========================
# Virtual Environment
# ==========================

venv/
env/
ENV/
.venv/

# ==========================
# Jupyter Notebook
# ==========================

.ipynb_checkpoints/

# ==========================
# Flask
# ==========================

instance/
.webassets-cache/

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# PyCharm
# ==========================

.idea/

# ==========================
# Operating System Files
# ==========================

.DS_Store
Thumbs.db
desktop.ini

# ==========================
# Logs
# ==========================

*.log

# ==========================
# Environment Variables
# ==========================

.env

# ==========================
# Build Files
# ==========================

build/
dist/
*.egg-info/

# ==========================
# Temporary Files
# ==========================

*.tmp
*.bak
*.swp

# ==========================
# Test Cache
# ==========================

.pytest_cache/
.coverage
htmlcov/