.container{
    width:90%;
    max-width:var(--container-width);
    margin:auto;
}

main{
    min-height:80vh;
    padding:60px 0;
}

h1,h2,h3,h4,h5,h6{
    color:var(--text-color);
}

p{
    color:var(--text-light);
}