/* FORMS */

.form-group{
    margin-bottom:20px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
    color:var(--text-color);
}

input,
select,
textarea{
    width:100%;
    padding:14px;
    border:1px solid var(--border-color);
    border-radius:var(--radius-sm);
    background:white;
    font-size:15px;
    transition:var(--transition);
}

input:focus,
select:focus,
textarea:focus{
    outline:none;
    border-color:var(--secondary-color);
    box-shadow:0 0 0 4px rgba(37,99,235,.15);
}

textarea{
    resize:vertical;
}

input::placeholder{
    color:#94A3B8;
}

.form-grid{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:25px;
    margin-top:25px;
}

/* FORM HELPER TEXT */

.form-text{
    display:block;
    margin-top:6px;
    font-size:13px;
    color:var(--text-light);
}
